[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geojson = "*"
networkx = "*"
matplotlib = "*"
numpy = "*"
ipykernel = "*"
pandas = "*"
descartes = "*"
geopandas = "*"
shapely = "*"
cartopy = "*"

[dev-packages]

[requires]
python_version = "3.11"
